body { 
  margin: 10 auto; 
  width: 900px; 
}
canvas {
    position: absolute;
    z-index: 1
  }
.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr, auto-fit);
  gap: 10px;
  position:relative;
  grid-auto-rows: minmax(10px, auto);

}

.template1 {
  grid-column: 1;
  grid-row: 4 / 6;
  height: 290px
}
.template2 {
  grid-column: 1;
  grid-row: 4 / 6;
}
.template3 {
  grid-column: 2 / 4;
  grid-row: 2 / 8;
  height: 649px
}